<main>
    <div class="container body-content span=8 offset=2">
        <hgroup class="center">
            <h5> Forget password </h5>
        </hgroup>
        <div class="well">
            <form id="check_email_form" th:action="@{/forgetpassword}" th:object="${user}" method="post" class=" col s12 form center">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" th:field="*{email}" class="validate"/>
                        <label for="email">Email</label>
                    </div>
                </div>

                <button class="btn waves-effect waves-light button" type="submit" name="action">
                    <i class="mdi-content-send right"></i> Reset password
                </button>

                <p th:text="${responseMessage}" class="message center"/>
            </form>
        </div>
    </div>
</main>