<main>
    <div class="container body-content span=8 offset=2">
        <hgroup class="center">
            <h5> Forget password </h5>
        </hgroup>

        <script type="text/javascript">
            /* <![CDATA[ */
            function checkForm(form)
            {
                if(form.password.value == "" || form.password_confirm.value == ""){
                    alert("Error: Password  and Confirm Password should not be empty!");
                    form.password.focus();
                    return false;
                }
                if(form.password.value != form.password_confirm.value) {
                    alert("Error: Password  and Confirm Password should contain the same characters!");
                    form.password.focus();
                    return false;
                }
                return true;
            }
            /*]]>*/
        </script>


        <div class="well">
            <form id="password_reset_form" th:action="@{/resetpassword(_key=${resetPasswordToken})}" th:object="${user}" method="post" class=" col s12 form center" onsubmit="return checkForm(this);" >

                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" name="password"/>
                        <label for="password">Password</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="password_confirm" type="password" name="password_confirm"/>
                        <label for="password_confirm">Confirm Password</label>
                    </div>
                </div>

                <button class="btn waves-effect waves-light button" type="submit" name="action" >
                    <i class="mdi-content-send right"></i> Submit
                </button>

                <p th:text="${responseMessage}" class="center"/>
            </form>
        </div>
    </div>
</main>